body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8FD8D8;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    background-color: white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 75); 
}

h1 {
    color: #005F6B;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #293241;
}

.input-container {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-right: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    font-family: Arial, sans-serif;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #FF9F1C;
}

.image-container {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #FF9F1C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 50);
}

input[type="submit"]:hover {
    background-color: #FFBF69;
}

.submit-container {
    text-align: center;
}

.result-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
}

.result-container h2 {
    margin-top: 0;
    color: #333;
}